rules_version = '2';

service cloud.firestore {
  function isAuth() {
    return request.auth.uid != null;
  }

  match /databases/{database}/documents {
    match /players/{id} {
      allow read, create, update: if isAuth();
    }

    match /matches/{id} {
      allow read, create: if isAuth();
    }
  }
}